name: flutterfire
description: Aquila Lite Project

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  http: any
  scoped_model: 1.0.1
  flutter_gallery_assets: 0.1.8
  url_launcher: ^5.0.3
  intl: ^0.16.0
  syncfusion_flutter_calendar: ^17.4.46-beta
  syncfusion_flutter_charts: ^17.4.46
  syncfusion_flutter_gauges: ^17.4.46-beta
  syncfusion_flutter_core: ^17.4.46

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_staggered_grid_view: ^0.3.0
  auto_size_text: ^2.1.0
# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
  - assets/images/aquilalogo.png
  - assets/images/refrigerator.png
  - assets/images/washingmachine.png
  - assets/images/bulasik1.png
  - assets/images/bulasik2.png
  - assets/images/buzdolabi1.png
  - assets/images/buzdolabi2.png
  - assets/images/camasir1.png
  - assets/images/camasir2.png
  - assets/images/cay1.png
  - assets/images/cay2.png
  - assets/images/davlumbaz1.png
  - assets/images/davlumbaz2.png
  - assets/images/diger1.png
  - assets/images/diger2.png
  - assets/images/firin1.png
  - assets/images/firin2.png
  - assets/images/kurutucu1.png
  - assets/images/kurutucu2.png
  - assets/images/ocak1.png
  - assets/images/ocak2.png
  - assets/images/smarthome1.png
  - assets/images/smarthome2.png

  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
